@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body {
  margin:0;
  font-family: 'Do Hyeon', sans-serif;
  background-color: rgb(230,255,230)
    }
.menu {
  padding: none;
}
.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    border-top: 3px solid gray ;
    border-bottom: 3px solid gray ;
    justify-content: space-between;
             }
.menu ul li {
    display: inline;
    }

.menu a {
  color: #010101;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 180px 30px auto auto 100px;
  grid-template-areas:
  "header header header"
  "menu menu menu"
  ". . ."
  "sidebar_A main sidebar_B"
  ". . ."
  "footer footer footer";
  margin: 0 50px;
  padding: 50px 0;
  font-weight: bold;
  color: gray;
  }



.header
{
  grid-area: header;

}

.menu
{
  grid-area: menu;
}

.sidebar_A
{
  grid-area: sidebar_A;
}

.main
{
   grid-area: main;
   border-left: solid black 2px;
   border-right: solid black 2px;
 }

.sidebar_B
 {
   grid-area: sidebar_B;
  }

.footer
{
  grid-area: footer;

 }
