@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
  body {
    background-color: rgb(230,255,230);
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
  }
    .title h1 {
    margin: 0;
    padding: 20px;
    border-bottom:solid gray 10px;
    color:black;
    font-size: 50px; text-align: center;
  }
  .title a {
    color:black;
    text-decoration: none;
  }
 .list {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 5px solid pink;
  }
  .list a {
    color:black;
    text-decoration: none;
  }
.list ul {
    width:200px;
    border-right:10px gray solid;
    font-size: 25px;
    color:gray;
    margin: 0;
    padding: 30px;
    list-style-type: none;
  }
.list li{
    margin-bottom: 10px;
  }

.list ul {
 padding-left: 60px;
}
.list p {
 text-align: center;
 margin: 0;
 margin-top: 125px;
 font-size: 50px;
 color: green;
}

/* 여기서부터는 미디어 쿼리 입니다.*/

@media (max-width:630px)
 {
.title h1 {
     font-size: 30px;
     color: gray;
   }
.list {
  display: block;
}
.list ul {
border-right: none;
text-align: center;
margin: 0;
display: inline;
font-size: 20px;
font-weight: bold;
}
#beauty {
  display: none;
}
}
