html {
  -webkit-appearance: none;
  appearance: none;  
}
body {
  padding: 0;
  margin: 0;
  width: 100%-50px;
  height: 100%-50px;
  border-top: rgba(243, 140, 166, 0.664) solid 30px;
  background-image: url(../source/picture/pinkSky.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Gamja Flower", cursive;
  
}

#bgm {
  width: 100px;
  height: 30px;   
}

#catch {
  -webkit-appearance: none; 
  position: relative;
  grid-area: click12;
  width: 101px;
  height: 101px;
  background-color: pink;
  font-size: 20px;
  outline: none;
  border: none;
  font-weight: bolder;
  color: white;
}
.scoreBox h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  border: 0;
}

#nameArea {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#countReturn,
#timerReturn {
  text-align: center;
  margin: 0;
}
.scoreArea {
  text-align: center;
}
.areaContainer {
  padding-left: 2%;
  padding-right: 2%;
}
.manualArea h1 {
  margin-top: 0;
  font-size: 50px;
}

.manualArea h3 {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 25px;
}

#countArea {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 10px;
}
.arena {
  display: grid;
  grid-template-columns: 1fr minmax(500px, auto) 1fr;
  grid-template-rows: auto minmax(100px, auto);
}
.buttonArea {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
    "click0 click1 click2 click3 click4"
    "click5 click6 click7 click8 click9"
    "click10 click11 click12 click13 click14"
    "click15 click16 click17 click18 click19"
    "click20 click21 click22 click23 click24";
  background-color: rgba(243, 140, 166, 0.664);
  border: solid rgba(238, 143, 174, 0.815) 3px;
  column-gap: 2.5px;
  row-gap: 2.5px;
}

.line {
  background-color: white;
}

.leftWall {
  font-size: 20px;
}

/* 미디어 쿼리 영역 */
@media (max-width: 480px) {
  .manualArea h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
  }

  .manualArea h3 {
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 18px;
  }

  .manualArea h2 {
    font-size: 19px;
    background-color: rgba(243, 140, 166, 0.664);
    display: block;
  }

  .scoreArea h1 {
    margin: 0;
  }

  .arena {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: none;
  }

  .buttonArea {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);
  }

  #catch {
    -webkit-appearance: none; 
    width: 70px;
    height: 70px;
    font-size: 13px;
  }

  body {
    border-top: rgba(243, 140, 166, 0.664) solid 20px;
  }
}
