
body {
    padding: 0;
    margin: 0;
    width: 100%-50px;
    height: 100%-50px;
}

#catch {
    position: relative;
    grid-area: click12;
    width: 100px;
    height: 100px;
    background-color: pink;
    font-size: 20px;
    outline: none;
    border: none;
    font-weight: bolder;
    color: white;
}


.scoreBox {
    text-align: center;
}
.arena{
    display: grid;
    grid-template-columns: 1fr minmax(505px,auto)  1fr;
    grid-template-rows: auto;
}
.buttonArea {
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
    grid-template-areas:
    "click0 click1 click2 click3 click4"
    "click5 click6 click7 click8 click9"
    "click10 click11 click12 click13 click14"
    "click15 click16 click17 click18 click19"
    "click20 click21 click22 click23 click24"
    ;
    background-color: rgba(243, 140, 166, 0.664);
    border: solid rgb(241, 76, 47) 3px;
    column-gap: 2.5px;
    row-gap: 2.5px;
}

.line {
    background-color: white;
}